/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*
  ========================================
  Custom styles

    
  ========================================
*/
body {
    background-color: #ECEEF1;
    color: #000;
    font: 400 12px/18px "AvenirNext", "Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
/*
  ========================================
  Grid
  ========================================
*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.container {
    margin: 0 auto;
    width: 440px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center; 
    padding-top: 30px;
}
li {
    display: inline-block;
    margin: 5px;
}
/*
  ========================================
  Clearfix
  ========================================
*/
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}
/*
========================================
Header
========================================
*/
header {
  margin-right: 20px;
  margin-top: 10px;
}
.signin-wrapper {
    float: right;
}

@media only screen and (max-width: 768px) {
header {
    display: none;
}
}
/*
  ========================================
  Typography
  ========================================
*/
h2 {
    font-size: 24px;
    line-height: 26.4px;
    color: rgb(76, 76, 76);
    padding-bottom: 20px;
}
p {
    color: rgb(80, 80, 80);
}
p.i {
    font-size: 12px;
    font-style: italic;
    color: #757575;
    padding: 20px 20px 0 20px;
    line-height: 1.5;
}
/*
  ========================================
  Buttons
  ========================================
*/ 
.btn {
    border-radius: 4px;
    cursor: pointer;
    color: white;
}  
.btn-blue {
    background-color: rgb(0, 119, 197);
    border: 1px solid rgb(76, 76, 76);
    
}
.btn-signin {
    float: right;
    height: 34px;
    font-size: 13.5px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0 20px;
}  
.btn-create {
    width: 100%;
    font-size: 14px;
    letter-spacing: .7px;;
    padding: 15px;
}
.btn-footer {
    background-color:  #6B6C72;
    padding: 10px;
    position: fixed;
    bottom: 0;
    right: 72px;
}
/*
  ========================================
  Links, Images
  ========================================
*/
a,
a:hover, 
a:visited {
    color: rgb(0, 119, 197);
    cursor: pointer;
    text-decoration: none;
    
}
.sprite {
    background: url("icons.png");
 	background-repeat: no-repeat;
    background-size: 562px 83px;
  }
  .logo {
      width: 115px;
      height: 35px;
      background-position: 0 0;
  }
  .mint {
      width: 65px;
      height: 30px; 
      background-position: -254px -53px;
  }
  .quickbooks {
      width: 130px;
      height: 30px; 
      background-position: -115px -53px;
  }
  .turbotax {
      height: 30px; 
      width: 115px;
      background-position: 0 -53px;
  }
/*
  ========================================
  Form
  ========================================
*/
.form-wrapper {
    background-color: white;
    border: 1px solid rgb(199, 199, 199);
    border-radius: 2px;
    min-height: 600px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.form-info {
    padding: 25px;
   
}
form {
    text-align: left;
    color: #404040;
    font-size: 14px;
    line-height: 25px;
    margin-top: 20px;
}

input {
    display: block;
    width: 100%;
    border: 1px solid #d8d8d8;
    border-radius: 3px;
    outline: none;
    font-size: 1.2em;
    line-height: 1.3em;
    height: 34px;
    margin-top: 10px;
    margin-bottom: 30px;
}
input[id="tel"] + div,
input[id="pswd"] + div,
input[id="tel"]:focus ~ p,
input[id="pswd"] ~ label {
    display: none;
}
input[id="tel"]:focus + div,
input[id="pswd"]:focus + div,
input[id="pswd"]:focus ~ label {
    display: block;
}
.phone-help p{
    color: orange;
    font-size: 12px;
    line-height: 18px;
}
.phone-help, .phone-tulip {
    font-size: 10px; 
    margin-top: -30px; 
    margin-bottom: 20px;
}
.pswd-help {
    margin-top: -20px;
    margin-bottom: 20px;
}
.pswd-help p {
    color: red;
    font-size: 12px;
    line-height: 18px;
}
.captcha {
    background-color: #ECEEF1;
    color: #8d9096;
    font-size: 10px;
    padding: 16px;
    width: 100%;
    margin-top: 32px;
    bottom: 0;
}
/*
  ========================================
  Footer
  ========================================
*/
footer {
    text-align: center;
    color: #505050;
}

